//footer
.footer__top {
  .fl {
    font-size: 60px;
    line-height: 0.9;
    color: var(--body);
    margin-bottom: 60px;
    text-align: center;
    padding: 10px 10px;
    align-items: center;
  }
  .get__content {
    p {
      margin-bottom: 60px;
      font-size: 20px;
      color: var(--body);
      max-width: 512px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid var(--buttonhover);
      padding: 26px 28px;
      background-color: var(--hover);
    }
}
  .get__rightcontetn {
    .social__footer {
      padding: 26px 28px;
      background-color: var(--buttoncolor);
      border-radius: 10px;
      border: 1px solid var(--buttonhover);
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--body);
      font-size: 24px;
      transition: all 0.4s;
      i {
        color: var(--body);
        font-size: 22px;
        transition: all 0.4s;
      }
      &:hover {
        background: var(--hover);
        border-color: var(--hover);
        color: var(--title);
        i {
          color: var(--title);
        }
      }
    }
  }
  @include breakpoint(max-xxl) {
    .fl {
      margin-bottom: 40px;
    }
    .get__content {
      p {
        margin-bottom: 40px;
      }
    }
  }
  @include breakpoint(max-lg) {
    .get__content {
      p {
        margin-bottom: 10px;
        font-size: 18px;
      }
      a {
        font-size: 28px;
      }
    }
    .get__rightcontetn {
      .social__footer {
        padding: 14px 16px;
        border-radius: 10px;
        font-size: 20px;
        i {
          font-size: 22px;
        }
      }
    }
  }
  @include breakpoint(max-xs) {
    .get__content {
      p {
        margin-bottom: 10px;
        font-size: 17px;
      }
      a {
        font-size: 18px;
      }
    }
    .fl {
      margin-bottom: 20px;
    }
  }
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 0;
  p {
    font-size: 18px;
  } &:hover {
    color: black;

  }
  .terms {
    display: flex;
    gap: 38px;
    li {
      a {
        font-size: 18px;
        color: black;
;
      }
      &:hover {
        a {
          color: var(--buttoncolor);
        }
      }
    }
  }
  .toparrow {
    width: 40px;
    height: 50px;
    background-color: var(--buttoncolor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 28px;
    }
  }
  @include breakpoint(max-lg) {
    flex-wrap: wrap;
    display: grid;
    gap: 16px;
    justify-content: center;
    text-align: center;
    .terms {
      justify-content: center;
      gap: 24px;
    }
    .toparrow {
      margin: 0 auto;
    }
  }
}

.fisrtp {
  color: black;
}

.inici {
  color: var(--buttoncolor);
}
//footer
